$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

$main-light-cl: #ffffff;
$accent-cl: #dc3b5a;
$main-dark-cl: #1e1e1e;
$secondary-dark-cl: #181818;

$dark-bg: rgba(30, 30, 30, 0.1);
$light-bg: rgba(255, 255, 255, 0.1);

$main-family: 'Messina Sans Mono', sans-serif;
$title-family: 'Right Grotesk', sans-serif;
$accent-family: 'Biro Script Plus', sans-serif;

$transition: 400ms ease-in-out;
